.Navbar{display: flex;
width: 100vw;
height: 100px;
background-color: rgb(255, 255, 255);
padding: 20px;
justify-content:space-between;
align-content: center;
position: fixed;
top: 0;
left: 0;
box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.InputSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Links {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px; 
    height: 100%;
    color: black;
}

a{
    height: 100%;   
     vertical-align: middle;
}
img{height: 100%;;
    vertical-align: middle;
}